.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0,0, 10, #00000015;
    transition: 0.3s;
    animation: fadein 1s; 
}

.food-item-img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-item-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-rating p{

    font-size: 20px;
    font-weight: 500;
}
.food-item-rating img{
    width: 70px;
}

.food-item-desc{
    font-size: 12px;
    color: #676767;
}
.food-item-price{
    font-weight: 500;
    margin: 10px 0px;
    color: tomato;
    font-size: 22px;
}

.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.food-item-counter{
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 10px; 
}