.verify{
    min-height: 60vh;
    display: grid;
}
.verify .spiner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: solid 5px #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}